:root {
  --primary-color: #03a9f4;
  --black-color: #000;
  --white-color: #fff;
  --juejin-color: #007fff;

  --orange: hsl(14, 100%, 53%);
  --orange-opacity: hsl(14, 100%, 53%, 0.2);
  --yellow: hsl(48, 100%, 67%);
  --green: hsl(141, 53%, 53%);
  --turquoise: hsl(171, 100%, 41%);
  --turquoise-opacity: hsl(171, 100%, 41%, 0.2);
  --cyan: hsl(204, 71%, 53%);
  --cyan-opacity: hsl(204, 71%, 53%, 0.2);
  --blue: hsl(217, 71%, 53%);
  --purple: hsl(271, 100%, 71%);
  --red: hsl(348, 86%, 61%);
}

@layer base {
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: 14px;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
}

.hero {
  @apply flex flex-col h-screen max-h-screen relative;
  // 头部
  .navbar {
    @apply fixed top-0 left-0 right-0 z-20 bg-gray-50 dark:bg-gray-800;
    & > .container {
      height: 45px;
      max-height: 45px;
      // 顶部导航菜单-logo图标
      .navbar-brand {
        @apply overflow-hidden px-2.5 cursor-pointer;

        .brand-name {
          display: none;
          width: 120px;
          height: 2em;
          color: var(--white-color);
          text-indent: -9999px;
        }
        .brand-logo{
          @apply dark:fill-white dark:text-gray-50;
          width: 120px;
          height: 2em;
          &:hover,
          &:active{
            @apply dark:text-gray-200;
          }
        }
      }
      .navbar-menu {
        @apply flex-1 h-full;
        .navbar-start {
          @apply flex h-full mr-auto justify-start items-center;
          .navbar-link {
            @apply px-4 leading-10 text-gray-700 font-semibold dark:text-gray-50;
            font-size: 14px;
            &:hover,
            &:active {
              @apply text-gray-900 dark:text-gray-200;
            }
          }
        }
      }
    }
  }
  // 主体
  &-body {
    @apply container flex-auto mx-auto py-5;
    margin-top: 45px;
    .main-wrap {
      @apply w-width max-w-width;
    }

    // markdown body style
    .mdx-body {
      @apply text-base dark:text-gray-50;

      pre{
        .line{
          @apply dark:bg-[#1e1e1e];
        }
      }
      
      &>ol,
      &>ul{
        padding-left: 0;
        code{
          @apply dark:bg-gray-700;
        }
      }

      p {
        overflow: hidden;
        margin-top: 6px;
        margin-bottom: 6px;
        & > img {
          @extend .extendImg;
        }
      }

      img {
        @extend .extendImg;
      }

      .extendImg {
        @apply block relative mx-auto border-solid border-4 border-gray-200 dark:border-gray-200 object-cover;
        max-width: 60%;
        min-width: 80%;
      }
    }

    .aside {
      @apply ml-auto w-aside max-w-aside;
      .card-list{
        @apply flex flex-row flex-wrap justify-start items-center mt-2;
        .tags-item{
          @apply text-gray-700 px-1 border-2 border-gray-200 mr-2 mb-2 cursor-pointer dark:text-gray-50 dark:border-gray-200;
          &:hover,
          &:active{
            @apply bg-gray-100 text-gray-900 dark:bg-gray-200;
          }
        }
      }
    }
  }
  // 固定栏
  .affix{
    @apply fixed bg-gray-50 py-1 w-12 flex flex-col flex-wrap justify-center items-center dark:bg-gray-800;
    right: 20rem;
    bottom: 17.142rem;
    .button{
      @apply p-2;

      &:hover,
      &:active{
        @apply bg-gray-100 dark:bg-gray-700;
      }
      .i-icon{
        @apply align-middle dark:text-gray-50;
      }
    }
  }

  // 尾部
  .footer {
    @apply bg-gray-50 p-5 dark:bg-gray-800;
    & > .container {
      .foot-text {
        font-size: 14px;
        @apply mb-1 text-center text-gray-700 dark:text-gray-50;
        &:last-child {
          @apply mb-0;
        }
        & > a {
          @apply font-semibold;
          &:hover,
          &:active{
            @apply text-gray-900 dark:text-gray-200;
          }
        }
      }
    }
  }
}