html {
  font-family: $family-sans-serif;
  font-size: $font-size-root;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
  background-repeat: no-repeat;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $secondary-text-color;
  font-weight: $weight-semibold;
}

a:hover {
  color: $primary-text-color;
  font-weight: $weight-semibold;
}

.navbar {
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &>.container {
    display: flex;
    width: $width-size;
    align-items: center;
    min-height: 3.25rem;
  }
}

.section {
  padding: 0.6rem;
}

.header {
  margin-bottom: 1rem;
}

.hero {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey-lightest);

  .hero-head,
  .hero-foot {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .hero-body {
    flex-grow: 1;
    flex-shrink: 0;

    &>.container {
      display: flex;
      width: $width-size;
      justify-content: flex-start;

      .about {
        &+.aside {
          display: none;
        }
      }
    }
  }
}

// svg 样式
.icon {
  width: $svg-width;
  height: $svg-height;
}

.hot-wrap,
.tag-wrap,
.catg-wrap,
.archive-wrap {
  background-color: var(--white-bis);
  color: $secondary-text-color;
}

.footer {
  background-color: var(--white-bis);

  &>.container {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
  }
}
