html {
  font-family: $family-sans-serif;
  font-size: $font-size-root;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-size: inherit;
  line-height: inherit;
  background-repeat: no-repeat;
}

.navbar>.container {
  display: flex;
  align-items: center;
  min-height: 3.25rem;
  width: 100%;
}

.footer>.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-bis);
  padding: 1.5rem;
}
