// 两边横线中间文字效果
@mixin middleText() {

  .info-middleLine,
  .con-middleLine {
    text-align: center;
    margin: 0.714rem 0;

    .middleLine-text,
    .middleLine-head {
      display: inline-block;
      position: relative;
      background: var(--white-bis);
      padding: 0 1.286rem;
    }
  }

  .info-middleLine:before,
  .con-middleLine:before {
    content: '';
    display: block;
    position: relative;
    left: 0;
    top: 0.643rem;
    /*这个是用来调节线高*/
    height: 1px;
    width: 100%;
    background-color: $border-frame;
  }
}
