:root{
  --primary-color: #03a9f4;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    // overflow-x: hidden;
    // overflow-y: scroll;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
  }
}