@mixin line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@mixin line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@mixin line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@mixin line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

@mixin line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

@mixin line-clamp-6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

@mixin line-clamp-none {
  -webkit-line-clamp: unset;
}

@mixin middleLine-level {
  @apply relative text-center m-2.5;
  .middleLine-text {
    @apply inline-block relative bg-gray-50 px-5 font-bold;
  }
  &::before {
    @apply bg-gray-200;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    height: 1px;
    width: 100%;
  }
}
